.item{
  padding: 15px;
  background: "skyblue";
  border: 2px solid black;
  width: 300px;
  height: 500px;
  border-radius: 20px;
  transition: 1s;
}

.item:hover{
  transform: scale(1.1);
}

.img{
  border-radius: 20px;
  border: 1px solid black;
}

.header{
  width: 97%;
  height: 100px;
  border: 2px solid black;
  margin: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input{
  border-radius: 20px;
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.button{
  display: block;
  width: 40%;
  margin: 10px auto;
  background: black;
  color: white;
  border-radius: 20px;
  padding: 5px 0px;
}

#root{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}