.container {
    margin: 0 auto;
    width: 90%; /* Ancho total de la container */
}

.column {
    width: 300px; /* Ancho de cada columna */
    float: left;
    margin-right: 60px; /* Espacio entre columnas */
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 60px; /* Espacio entre tarjetas */
}

.card:hover{
  transform: scale(1.1);
}

.card img {
    width: 100%;
    height: auto;
}

.contenedor {
    padding: 10px;
}

.title {
    font-size: 1.2em;
}

.texto {
    font-size: 1em;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

/* Limpiar flotantes */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
