.goku{
  display: block;
  margin: 0 auto;
  max-height: 600px;
  filter: drop-shadow(50px 30px 10px #ffff22);
  filter: drop-shadow(0 -6mm 4mm rgb(255, 255, 23));
  filter: drop-shadow(0 0 0.75rem rgb(255, 235, 21));
}

.cell{
  display: block;
  margin: 0 auto;
  max-height: 600px;
  filter: drop-shadow(50px 30px 10px #22ff31);
  filter: drop-shadow(0 -6mm 4mm rgb(50, 255, 23));
  filter: drop-shadow(0 0 0.75rem rgb(21, 255, 33));
}

.piccolo{
  display: block;
  margin: 0 auto;
  max-height: 600px;
  filter: drop-shadow(50px 30px 10px #8800ff);
  filter: drop-shadow(0 -6mm 4mm rgb(146, 0, 237));
  filter: drop-shadow(0 0 0.75rem rgb(156, 0, 239));
}

.vegeta{
  display: block;
  margin: 0 auto;
  max-height: 600px;
  filter: drop-shadow(50px 30px 10px #004de6);
  filter: drop-shadow(0 -6mm 4mm rgb(41, 37, 255));
  filter: drop-shadow(0 0 0.75rem rgb(58, 44, 255));
}

.gokuRosa{
  display: block;
  margin: 0 auto;
  max-height: 600px;
  filter: drop-shadow(50px 30px 10px #db0eff);
  filter: drop-shadow(0 -6mm 4mm rgb(232, 22, 255));
  filter: drop-shadow(0 0 0.75rem rgb(212, 39, 255));
}

.container {
    margin: 0 auto;
    width: 90%; /* Ancho total de la container */
}

.column {
    width: 300px; /* Ancho de cada columna */
    float: left;
    margin-right: 60px; /* Espacio entre columnas */
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 60px; /* Espacio entre tarjetas */
}

.card:hover{
  transform: scale(1.1);
}

.card img {
    width: 100%;
    height: auto;
}

.contenedor {
    padding: 10px;
}

.title {
    font-size: 1.2em;
}

.texto {
    font-size: 1em;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

/* Limpiar flotantes */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
