@import url(root.css);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #ffffff;
  position: relative;
  background: var(--background);
}

header{
  margin-top: 16px;
}

header::before,
header::after{
  content:"";
  display: block;
  background: #a63fff;
  height: 2px;
  width: 95%;
  margin: 0 auto;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 80px;
}

.goku{
  display: block;
  margin: 0 auto;
  max-height: 600px;
  filter: drop-shadow(50px 30px 10px #ffff22);
  filter: drop-shadow(0 -6mm 4mm rgb(255, 255, 23));
  filter: drop-shadow(0 0 0.75rem rgb(255, 235, 21));
}

.cell{
  display: block;
  margin: 0 auto;
  max-height: 600px;
  filter: drop-shadow(50px 30px 10px #22ff31);
  filter: drop-shadow(0 -6mm 4mm rgb(50, 255, 23));
  filter: drop-shadow(0 0 0.75rem rgb(21, 255, 33));
}

.piccolo{
  display: block;
  margin: 0 auto;
  max-height: 600px;
  filter: drop-shadow(50px 30px 10px #8800ff);
  filter: drop-shadow(0 -6mm 4mm rgb(146, 0, 237));
  filter: drop-shadow(0 0 0.75rem rgb(156, 0, 239));
}

.vegeta{
  display: block;
  margin: 0 auto;
  max-height: 600px;
  filter: drop-shadow(50px 30px 10px #004de6);
  filter: drop-shadow(0 -6mm 4mm rgb(41, 37, 255));
  filter: drop-shadow(0 0 0.75rem rgb(58, 44, 255));
}

.gokuRosa{
  display: block;
  margin: 0 auto;
  max-height: 600px;
  filter: drop-shadow(50px 30px 10px #db0eff);
  filter: drop-shadow(0 -6mm 4mm rgb(232, 22, 255));
  filter: drop-shadow(0 0 0.75rem rgb(212, 39, 255));
}

.container {
  margin: 0 auto;
  width: 90%; /* Ancho total de la container */
}

.column {
  width: 300px; /* Ancho de cada columna */
  float: left;
  margin-right: 60px; /* Espacio entre columnas */
}

.card {
  border: 1px solid #8800ff;
  border-radius: 5px;
  padding: 15px;
  background: #f6ecff;
  margin-bottom: 60px; /* Espacio entre tarjetas */
  transition: .7s;
}


.card:hover{
  transform: scale(1.1);
  background: #e8cdff;
}

.card img {
  width: 100%;
  height: auto;
}

.contenedor{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1{
  margin-top: 70px;
  margin-bottom: 90px;
  margin-left: 38%;
  font-size: 2.7rem;
}

.name{
  font-size: 1.6rem;
}

.texto {
    font-size: 1.3rem;
    font-family: 'Times New Roman';
  }

.button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #0056b3;
}

/* Limpiar flotantes */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
    clear: both;
}

.aside{
  position: fixed;
  right: 20px;
  border-radius: 20px;
  border: 2px solid #b35dff;
  padding: 15px;
  width: 170px;
  height: 600px;
  margin-top: 10px;
}

.boton{
  background: #d3a0ff;
  text-decoration: none;
  text-align: center;
  align-content: center;
  font-size: 1.4rem;
  color: black;
  border: 2px solid #a63fff;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
}

.boton:hover{
  background: #ba6cff;
}

.boton:active{
  transform: scale(1.2);
}

@media (max-width: 768px){
  .card{
    display: none;
  }
}